<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script type="text/javascript">  
         wx.config({
        debug: false,
        appId: '{$signPackage.appId}',
        timestamp: '{$signPackage.timestamp}',
        nonceStr: '{$signPackage.nonceStr}',
        signature: '{$signPackage.signature}',
        jsApiList: [
            // 所有要调用的 API 都要加到这个列表中
            'checkJsApi',
            'openLocation',
            'getLocation',
            'onMenuShareTimeline',
            'onMenuShareAppMessage',
            'onMenuShareQQ',
            'onMenuShareQZone'
          ]
    });
wx.ready(function () {
        wx.onMenuShareAppMessage({
          title: 'FY18 RTG Greater China Mid-year Conference',
          desc: '我的桌面我定义',
          link: '{$drumpurl}',
          imgUrl: '{$imgurl}',
          trigger: function (res) {
            // 不要尝试在trigger中使用ajax异步请求修改本次分享的内容，因为客户端分享操作是一个同步操作，这时候使用ajax的回包会还没有返回
            // alert('用户点击发送给朋友');
          },
          success: function (res) {
            // alert('已分享');
          },
          cancel: function (res) {
            // alert('已取消');
          },
          fail: function (res) {
          // alert(JSON.stringify(res));
          }
        });

        wx.onMenuShareTimeline({
          title: 'FY18 RTG Greater China Mid-year Conference ',
          link: '{$drumpurl}',
          imgUrl: '{$imgurl}',
          trigger: function (res) {
            // 不要尝试在trigger中使用ajax异步请求修改本次分享的内容，因为客户端分享操作是一个同步操作，这时候使用ajax的回包会还没有返回
            // alert('用户点击分享到朋友圈');
          },
          success: function (res) {
           //alert('已分享');
          },
          cancel: function (res) {
            // alert('已取消');
          },
          fail: function (res) {
            // alert(JSON.stringify(res));
          }
        });
        wx.onMenuShareQZone({
    title: 'FY18 RTG Greater China Mid-year Conference ',
          desc: '我的桌面我定义',
          link: '{$drumpurl}',
          imgUrl: '{$imgurl}',
    success: function () { 
       // 用户确认分享后执行的回调函数
    },
    cancel: function () { 
        // 用户取消分享后执行的回调函数
    }
});
wx.onMenuShareQQ({
    title: 'FY18 RTG Greater China Mid-year Conference ',
          desc: '我的桌面我定义',
          link: '{$drumpurl}',
          imgUrl: '{$imgurl}',
    success: function () { 
       // 用户确认分享后执行的回调函数
    },
    cancel: function () { 
       // 用户取消分享后执行的回调函数
    }
});


});
</script>