<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>操作步骤</title>
<meta name="description" content="">
<meta name="keywords" content="">
<link href="" rel="stylesheet">
<style>
html,body{
	margin:0;
	padding:0;
	width:100%;
	height:100%;
}  
body{
	background:url("http://images.meetv.com.cn/wxphoto/img/3.jpg?imageslim");
	background-size:cover;
	background-repeat:no-repeat;
	background-position:center;
}
.next-button3{
	width:50%;
	height:50px;
	/*border:1px solid red;*/
	/*color: red;*/
	position:absolute;
    bottom:2%;
}
</style>  
</head>
<body class="body-bgimg3">
	<div class="next-button3" onClick="NextPage();"></div>
	<script type="text/javascript">
		function NextPage(){
			window.location.href="{:url('Index/index4')}";
		}
	</script>
        {include file="public/footcommon" /}
</body>
</html>