<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta id="viewport" name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1; user-scalable=no;">
<title>Index2</title>
<meta name="description" content="">
<meta name="keywords" content="">
<link href="" rel="stylesheet">
<style type="text/css">  
.body-bgimg2{
	width: 100%;
	height: 100%;
	background:url("__UPLOAD__/img/2.jpg") no-repeat center fixed;
	-webkit-background-size:100% 100%;
}
.next-button2{
	width:50%;
	height:50px;
	/*border:1px solid red;*/
	/*color: red;*/
	position:absolute;
    bottom:2%;
}
</style>  
</head>
<body class="body-bgimg2">
	<div class="next-button2" onClick="NextPage();"></div>
	<script type="text/javascript">
		function NextPage(){
			window.location.href="{:url('Index/index3')}";
		}
	</script>
</body>
</html>