.code-center{
	font-family: ff-tisa-web-pro-1, serif;
	text-align: center;
	color: white;
	position: absolute;
	left: 0;
    right: 0;
    margin-left: auto;
    width: 95%;
	height: 50px;
	line-height:50px;
	font-size:1.7em;
	letter-spacing: 0.7em;
	font-weight: bold;
}
// /* iphone6 */
// @media only screen and (min-device-width: 375px) {
// 	.code-center{
// 		margin-top:205px;
// 	}
// }
// @media screen and (max-device-width:240px){
// 	.code-center{
// 		    margin-top: 170px;
// 	}
// }
// @media only screen and (min-device-width: 241px) and (max-device-height:360px){
// 	.code-center{
// 		    margin-top:230px;
// 	}
// }
// @media only screen and (min-device-width:361px) and (max-device-height:480px){
// 	.code-center{
// 		    margin-top:230px;
// 	}
// }
@media screen and (min-device-width: 320px) and (device-height: 480px){
	.code-center{
		margin-top: 142px;
		height: 50px;
		line-height:50px;
		font-size:1.7em;
    	letter-spacing: 0.7em;
    	font-weight: bold;
	}
}

@media screen and (min-device-width: 320px) and (device-height: 568px){
	.code-center{
		margin-top:150px;
		height: 50px;
		line-height:50px;
		font-size:1.7em;
	    letter-spacing: 0.7em;
	    font-weight: bold;
	}
}
@media screen and (min-device-width: 360px){
	.code-center{
		margin-top:170px;
		height: 50px;
		line-height:50px;
		font-size:1.7em;
	    letter-spacing: 0.7em;
	    font-weight: bold;
	}
}
@media only screen and (min-device-width: 375px){
	.code-center{
		margin-top:205px;
		height: 50px;
		line-height:50px;
		font-size:1.7em;
		letter-spacing: 0.7em;
		font-weight: bold;
	}
}
@media only screen and (min-device-height:736px){
	.code-center{
		margin-top:230px;
		height: 50px;
		line-height:50px;
		font-size:1.7em;
	    letter-spacing: 0.7em;
	    font-weight: bold;
	}
}