.code-center{
	font-family: ff-tisa-web-pro-1, serif;
	text-align: center;
	color: white;
	position: absolute;
	left: 0;
    right: 0;
    margin-left: auto;
    width: 95%;
}
/* iphone4 */
@media screen and (device-width: 320px)and (-webkit-device-pixel-ratio: 2){
	.code-center{
		margin-top: 142px;
		height: 50px;
		line-height:50px;
		font-size:1.7em;
    	letter-spacing: 0.7em;
    	font-weight: bold;
	}
}
/* iphone5 */
@media screen and (device-width: 320px)and (-webkit-device-pixel-ratio: 2){
	.code-center{
		margin-top:150px;
		height: 50px;
		line-height:50px;
		font-size:1.7em;
	    letter-spacing: 0.7em;
	    font-weight: bold;
	}
}
/* iphone6 */
@media only screen and (min-device-width: 375px)and (-webkit-min-device-pixel-ratio: 2) {
	.code-center{
		margin-top:185px;
		height: 50px;
		line-height:50px;
		font-size:1.7em;
	    letter-spacing: 0.7em;
	    font-weight: bold;
	}
}
/* iphone6p */
@media only screen and (device-height:736px) and (-webkit-min-device-pixel-ratio:2){
	.code-center{
		margin-top:230px;
		height: 50px;
		line-height:50px;
		font-size:1.7em;
	    letter-spacing: 0.7em;
	    font-weight: bold;
	}
}