@font-face
{
    font-family: 'times new roman';
    font-weight: normal;
    font-style: normal;
	url('./font/times.ttf') format('truetype');
}
body
{
    font-family:BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif,'times new roman','Microsoft Yahei','cursive';
}